services:
  - type: web
    name: price-comparator-backend
    runtime: python
    plan: free
    region: frankfurt
    buildCommand: >
      pip install -r requirements.txt &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py createsu
    startCommand: >
      gunicorn backend.wsgi:application --workers=3 --timeout 90 --bind 0.0.0.0:${PORT}

  - type: cron
    name: product-scraper
    runtime: python
    plan: free
    region: frankfurt
    schedule: "0 */6 * * *"
    buildCommand: >
      pip install -r requirements.txt
    startCommand: >
      python api/cron/scraper.py
